body
{
	font-family: 'Chicle', cursive;
}
.center
{
	overflow:auto;
	border: 3px solid #4CAF50;
    padding: 5px;
    font-size: 20px;
}
.imag
{
	float:right;
}
h3
{
	color:blue;
	text-align: center;
}
#intro
{
	text-align: center;

}
#para
{
	font-size: 20px;
	width: 1000px;
	margin: 0 auto;
}
#first
{
	text-align: center;
	background-color: #C2ADE7;
	color:#522D93;
	padding-top: 100px;
	padding-bottom:100px;
	
}
#skills
{
	text-align:center;
	font-size:20px;
}
#first img
{
	border-radius:100%;
	height:250px;
}